@use '@/assets/css/default.scss' as *;
.chat-page {
    display: flex;
    flex-direction: column;
    @include marpad(
        0, 0, 0, 0, 
        7px, 7px, 7px, 7px
    );
    .main-input {
        background-color: var(--color-element);
        border-radius: 10px;
        @include marpad(
            28px, 0, 28px, 0, 
            14px, 14px, 14px, 14px
        );
        #message-input {
            @extend %default-text-format;
            width: 100%;
            margin: 0 auto;
        }
    }
}