@use '@/assets/css/default.scss' as *;
.history-page {
    display: flex;
    flex-direction: column;
    @include marpad(
        0, 0, 0, 0, 
        7px, 7px, 7px, 7px
    );
    h2 {
        @extend %default-heading-format;
        @include marpad(
            21px, 21px, 21px, 21px, 
            0, 14px, 0, 14px
        );
    }
    .chat {
        @extend %flex-center;
        flex-flow: wrap;
        @include marpad(
            7px, 21px, 7px, 21px,
            0, 0, 0, 0
        );
        .date {
            @extend %default-subheading-format;
            @include marpad(
                0, 0, 0, 0,
                7px, 14px, 7px, 14px
            );
        }
        .button {
            width: 100%;
            border-radius: 10px;
            background-color: var(--color-element);
            position: relative;
            @include marpad(
                7px, 0px, 7px, 0px,
                7px, 14px, 7px, 14px
            );
            .name {
                @extend %default-subheading-format;
                display: inline-grid;
                @include marpad(
                    0, 0, 0, 0,
                    0, 0, 7px, 0
                );
                span {
                    font-weight: $bold;
                    white-space: nowrap;
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                }
            }
            .content {
                @extend %default-text-format;
                display: -webkit-box;
                overflow: hidden;
                @include text-row-limit(4, 1.2);
            }
        }
    }
}