@use '@/assets/css/default.scss' as *;
.home-page {
    display: flex;
    flex-direction: column;
    @include marpad(
        0, 0, 0, 0, 
        140px, 140px, 140px, 140px
    );
    .brand-title {
        font-family: 'Black Ops One';
        @include marpad(
            28px, auto, 28px, auto,
            14px, 14px, 14px, 14px
        )
    }
    .main-input {
        background-color: var(--color-element);
        border-radius: 10px;
        @include marpad(
            28px, 0, 28px, 0, 
            14px, 14px, 14px, 14px
        );
        #main-input-area {
            @extend %default-text-format;
            width: 100%;
            margin: 0 auto;
        }
        .upload {
            margin: 0 auto;
            display: flex;
            justify-content: flex-end;
            button {
                @extend %flex-center;
                padding: 2px;
                border-radius: 14px;
                background-color: var(--color-symbol);
                .material-symbols-outlined {
                    color: var(--color-symbol-2);
                }
            }
        }
    }
    .category-select {
        .overlap {
            @extend %flex-center;
            flex-direction: row-reverse;
            position: relative;
            .button-inline {
                display: inline-flex;
                margin: 0 auto;
                width: 100%;
                justify-content: center;
                button {
                    @extend %default-text-format;
                    @include marpad(
                        0, 14px, 0, 14px, 
                        14px, 14px, 14px, 14px
                    );
                    &:not(.active) {
                        color: var(--color-text-placeholder);
                    }
                }
            }
            .toggle-expand {
                @extend %flex-center;
                position: absolute;
            }
        }
    }
    .item-select {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        margin: 0 auto;
        .button {
            margin: 0 auto;
            text-align: left; // Added alignment
            border-radius: 10px;
            background-color: var(--color-element);
            @include marpad(
                14px, 7px, 14px, 7px,
                14px, 28px, 14px, 28px
            );
            .text {
                @extend %default-text-format;
            }
            .img {
                margin-top: 14px;
                border-radius: 10px;
                @include square-parent(100%);
                img {
                    border-radius: 10px;
                    @include square-child();
                }
            }
        }
    }
}
.list-enter-from, .list-leave-to {
    opacity: 0;
    transform: translateY(10px);
}
.list-enter-active {
    transition: opacity 0.5s ease-out, transform 1s ease;
}
.list-leave-active {
    transition: opacity 0.2s ease-out, transform 0.4s ease;
}
.list-enter-to, .list-leave-from {
    opacity: 1;
    transform: translateY(0);
}