<main class="history-page">
    <h2>歷史會話</h2>
    <div class="chat" v-for="(chats, key) in sortedChatList">
        <h3 class="date">{{key}}</h3>
        <router-link class="button" v-for="chat in chats" :to="chat.link">
            <div class="name">
                <span>{{ chat.name }}</span>
            </div>
            <div class="content">
                唧唧復唧唧，木蘭當戶織。不聞機杼聲，唯聞女歎息。
問女何所思，問女何所憶。「女亦無所思，女亦無所憶。昨夜
見軍帖，可汗大點兵。軍書十二卷，卷卷有爺名。阿爺無大
兒，木蘭無長兄。願為市鞍馬，從此替爺征。」 
東市買駿馬，西市買鞍韉，南市買轡頭，北市買長鞭。
旦辭爺娘去，暮宿黃河邊；不聞爺娘喚女聲，但聞黃河流水
鳴濺濺。旦辭黃河去，暮宿黑山頭；不聞爺娘喚女聲，但聞
燕山胡騎聲啾啾。
            </div>
        </router-link>
    </div>
</main>