<aside>
    <div class="title">
        <div class="logo">
            <img src="@/assets/logo.svg"></img>
        </div>
        <a href="#">{{ head }}</a>
    </div>
    <div class="append-input">
        <input id="append-chat-name" type="text" v-model="newChatName" placeholder="創建會話" @keyup.enter="handleEnterPress"/>
    </div>
    <div class="main-menu">
        <router-link class="button" to="/">
            <span class="material-symbols-outlined text-symbol">home</span>
            <span class="text">主頁</span>
        </router-link>
    </div>
    <div class="menu-heading">
        <span class="material-symbols-outlined text-symbol">schedule</span>
        <span class="text">歷史對話</span>
    </div>
    <div class="chat-menu">
        <router-link :key="chat.id" class="button" :to="chat.link" v-for="(chat, index) in sortedChatList" v-show="historyExpanded || index < 3">
            <span class="text">{{ chat.name }}</span>
        </router-link>
    </div>
    <!-- <div class="toggle-menu">
        <button class="button" @click="toggleHistoryExpanded">
            <span class="material-symbols-outlined text-symbol" :class="{expanded: historyExpanded}">arrow_drop_down</span>
            <span class="text">查看全部</span>
        </button>
    </div> -->
    <div class="main-menu">
        <router-link class="button" to="/history">
            <span class="material-symbols-outlined text-symbol">expand</span>
            <span class="text">查看全部</span>
        </router-link>
    </div>
    <div class="flex"></div>
    <div class="user">
        <div class="user-menu" v-if="userMenuExpanded">
            <button class="button">
                <span class="text">預留位置</span>
            </button>
            <button class="button">
                <span class="material-symbols-outlined text-symbol">settings</span>
                <span class="text">設定</span>
            </button>
        </div>
        <div class="user-menu-toggle">
            <button class="button" @click="toggleUserMenuExpanded">
                <span class="material-symbols-outlined text-symbol">person</span>
                <span class="text">用戶ID</span>
                <span class="material-symbols-outlined" :class="{expanded: userMenuExpanded}">arrow_drop_up</span>
            </button>
        </div>
    </div>
</aside>