%default-heading-format {
    font-size: 20px;
    color: var(--color-text);
    @media (max-width: 768px) {
        font-size: 15px;
    }
    @media (max-width: 576px) {
        font-size: 10px;
    }
}
%default-subheading-format {
    font-size: 17px;
    color: var(--color-text);
    @media (max-width: 768px) {
        font-size: 12.25px;
    }
    @media (max-width: 576px) {
        font-size: 8.5px;
    }
}
%default-text-format {
    font-size: 15px;
    color: var(--color-text);
    @media (max-width: 768px) {
        font-size: 11.25px;
    }
    @media (max-width: 576px) {
        font-size: 7.5px;
    }
}
%default-symbol-format {
    font-size: 28px;
    color: var(--color-symbol);
    @media (max-width: 768px) {
        font-size: 21px;
    }
    @media (max-width: 576px) {
        font-size: 14px;
    }
}
%flex-center {
    display: flex;
    align-items: center;
}
@mixin marpad($mt, $mr, $mb, $ml, $pt, $pr, $pb, $pl) {
    margin: $mt $mr $mb $ml;
    padding: $pt $pr $pb $pl;
    @media (max-width: 768px) {
        margin: 
            calc($mt * 3 / 4) calc($mr * 3 / 4) 
            calc($mb * 3 / 4) calc($ml * 3 / 4);
        padding: 
            calc($pt * 3 / 4) calc($pr * 3 / 4) 
            calc($pb * 3 / 4) calc($pl * 3 / 4);
    }
    @media (max-width: 576px) {
        margin: 
            calc($mt / 2) calc($mr / 2) 
            calc($mb / 2) calc($ml / 2);
        padding: 
            calc($pt / 2) calc($pr / 2) 
            calc($pb / 2) calc($pl / 2);
    }
}
@mixin square-parent($width) {
    width: $width;
    height: 0;
    padding-bottom: $width;
    position: relative;
}
@mixin square-child() {
    width: 100%;
    height: 100%;
    position: absolute;
}
@mixin text-row-limit($num_rows, $line_height) {
    max-height: 15px * $num_rows * $line_height;
    line-height: $line_height;
    line-clamp: $num_rows;
    -webkit-line-clamp: $num_rows;
    -webkit-box-orient: vertical;
}
$bold: 600;